body {
  background-image: url('https://wallpapercave.com/wp/wp9349630.jpg');

  background-position: center;
  background-size: cover;
}

.paper {
  margin-top: 5cm;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar {
  margin: 8px;
  background-color: #1976d2;
}

.form {
  width: 100%;
  margin-top: 24px;
}

.submit {
  margin: 24px 0 16px;
}
